@import "tailwindcss";

@keyframes pulseSlow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.3;
  }
}
.animate-pulseSlow {
  animation: pulseSlow 6s ease-in-out infinite;
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #818cf8; }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}
